html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* start */
*{
    box-sizing: border-box;
}
body {
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    height: 100%;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}



.top_menu {
    background: #fff;
    padding: 12px 0;
}

.navbar_logo_mob {
    display: none;
}

.nav {
    margin: 0;
    padding: 0;
    float: right;
}

.nav li {
    display: inline-block;
    font-size: 14pt;
    position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .nav li {
        display: inherit;
        font-size: 14pt;
        position: relative;
    }
    .container{
        width: 700px;
    }
}

@media screen and (max-width: 768px) {
    .nav li {
        display: inherit;

    }

    .navbar_logo {
        display: none;
    }

    .navbar_logo_mob {
        display: inherit;
    }
    .container{
        width: 300px;
    }
}

.nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #71719a;
    display: inline-block;
    position: relative;
    vertical-align: top;
    line-height: 71px;
    padding-right: 26px;
    padding-left: 4px;
    letter-spacing: 2px;
}

.nav a:hover {
    color: #b7b7cc;
}

.is_active a {
    color: #141558;
    font-weight: 600;
}

.is_active:before {
    top: calc(50% - 13px);
    position: absolute;
    content: '';
    height: 26px;
    left: calc(0em - 4px);
    border-right: 6px solid #67bd06;
}

/* end header*/
/* section 1 (слайдер)*/
#slider {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

#slides article {
    width: 20%;
    float: left;
}

#slides .image {
    width: 500%;
    line-height: 0;
    z-index: 2;
}


#overflow {
    width: 100%;
    overflow: hidden;
    position: relative;
}

article img {
    width: 100%;
}

#desktop:checked ~ #slider {
    max-width: 1900px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #desktop:checked ~ #slider {
        max-width: 900px;
    }
}

#switch1:checked ~ #controls label:nth-child(3),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2) {
    background: url("../img/arrowl.png") no-repeat;
    float: right;
    display: block;
    height: 35px;
    width: 35px;
}

#switch2:checked ~ #controls label:nth-child(1) {
    background: url('../img/arrowr.png') no-repeat;
}

#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(1) {
    background: url('../img/arrowr.png') no-repeat;
    float: right;
    display: block;
    height: 35px;
    width: 35px;
    margin-left: 54px;
}

#switch2:checked ~ #controls label:nth-child(3) {
    background: url("../img/arrowl.png") no-repeat;
    margin-right: 54px;
}

label, a {
    cursor: pointer;
}

.wrap input {
    display: none;
}

#switch1:checked ~ #slides .image {
    margin-left: 0;
}

#switch2:checked ~ #slides .image {
    margin-left: -100%;
}

#switch3:checked ~ #slides .image {
    margin-left: -200%;
}


#controls {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 19px;
    right: 211px;
    z-index: 45;
}

#active label {
    border-radius: 10px;
    display: none;
    width: 15px;
    height: 15px;
    background: #bbb;
}



#active label:hover {
    background: #76c8ff;
    border-color: #777 !important;
}


#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5) {
    background: #18a3dd;
    border-color: #18a3dd !important;
}

#slides .image {
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover {
    opacity: 0.6;
}

#controls label {
    transition: opacity 0.2s ease-out;
}

.switches {
    position: absolute;
    display: inline-block;
    bottom: 35px;
    right: 253px;
    z-index: 45;
}

.switches li {
    display: inline-block;
    margin-right: 11px;
}

.switches li a {
    display: block;
    width: 4px;
    height: 15px;
    background: #fff;
    margin-top: 457px;
}

.active_switch {
    background: #67bd06;
    height: 30px;
    display: block;
}

/* градиент на слайдере*/
.gradient {
    background-image: linear-gradient(90deg, #336 45%, rgba(0, 0, 0, 0), #336 98%);
    position: absolute;
    z-index: 30;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;

}


/* надпись на слайдере*/
.title {
    color: #fff;
    position: absolute;
    top: 100px;
    left: 300px;
    z-index: 55;
}

.big_title {
    font-size: 80px !important;
}

.title p {
    font-size: 24px;
    text-align: initial;
}

.title_color {
    font-size: 80px !important;
    color: #67bd06;
    padding-bottom: 40px;
}

.button {
    background: #67bd06;
    color: #fff;
    display: block;
    width: 250px;
    padding: 15px 0;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 600;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .title {
        top: 115px;
        left: 100px;
    }

    .big_title {
        font-size: 60px !important;
    }

    .title p {
        font-size: 20px;
    }

}

/* section 2 */
.services {
    position: relative;
    background-color: #f2f2fa;
    min-height: 900px;
}

.fon {
    width: 100%;
    height: 100%;
    display: block;
}

.services h2 {
    font-size: 48px;
    font-weight: 600;
    color: #141558;
    position: absolute;
    top: 95px;
    left: 36%;
}

.services span {
    color: #67bd06;
}

.wrap_services {
    position: absolute;
    bottom: 150px;
    z-index: 66;
    display: flex;
}

.boost_services {
    background: #fff;
    width: 420px;
    height: 542px;
    margin: 10px;
    box-sizing: border-box;

}

.boost_services img {
    margin: 27px 55px;
}

.boost_services:nth-child(2) img {
    margin: 44px 124px;
}

.boost_services:nth-child(3) img {
    margin: 46px 100px;
}

.boost_services h3 {
    font-size: 30px;
    text-align: center;
    color: #141558;
}

.boost_services p {
    font-size: 18px;
    text-align: center;
    color: #141558;
    padding: 30px 40px;
}

.button_services {
    background: #ff5443;
    color: #fff;
    display: block;
    width: 200px;
    padding: 12px 0;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    margin: 40px auto;
    text-transform: uppercase;
    font-weight: 600;
}

.boost_services:nth-child(2) .button_services {
    margin: 78px auto;
}

.boost_services:nth-child(3) .button_services {
    margin: 78px auto;
}

.button_services:hover {
    background: #ff7366;
}
@media screen and (min-width: 1024px) and (max-width: 1340px){

    .boost_services{
        width: 323px;
    }
    .boost_services img {
        margin: 25px 13px;
    }
    .boost_services:nth-child(2) img {
        margin: 44px 75px;
    }
    .boost_services:nth-child(3) img {
        margin: 46px 52px;
    }
    .button_services {
        margin: 22px auto;
    }
    .boost_services:nth-child(2) .button_services {
        margin: 72px auto;
    }
    .boost_services:nth-child(3) .button_services {
        margin: 72px auto;
    }

}
    @media screen and (min-width: 768px) and (max-width: 1024px) {
    .wrap_services {
        bottom: 50px;
        display: block;
    }

    .fon {
        display: none;
    }

    .services {
        position: relative;
        background-color: #f2f2fa;
        display: block;
        width: 100%;
        height: 943px;
    }

        .services h2 {
            font-size: 40px;
        top: 40px;
        left: 28%;
    }

    .boost_services {
        background: #fff;
        width: 660px;
        height: 280px;
        display: block;
        margin-bottom: 15px;
        box-sizing: border-box;
    }

    .boost_services:nth-child(2) {
        height: 230px;
    }

    .boost_services:nth-child(3) {
        height: 230px;
    }

    .boost_services img {
        float: left;
        margin: 45px 10px;
    }

    .boost_services:nth-child(2) img {
        margin: 44px 76px;
    }

    .boost_services:nth-child(3) img {
        margin: 46px 53px;
    }

    .boost_services h3 {
        font-size: 24px;
        text-align: inherit;
        padding-top: 20px;
    }

    .boost_services p {
        text-align: inherit;
    }

    .button_services {
        margin: -12px 320px;
    }

    .boost_services:nth-child(2) .button_services {
        margin: -6px 321px;
    }

    .boost_services:nth-child(3) .button_services {
        margin: -7px 323px;
    }
}
@media screen and (max-width: 768px){
    .fon {
        display: none;
    }
    .wrap_services {
        bottom: 20px;
        display: block;
    }
    .services {
        position: relative;
        background-color: #f2f2fa;
        display: block;
        width: 100%;
        height: 1900px;
    }
    .boost_services {
        margin-left: -61px;
        margin-bottom: 15px;
    }
    .services h2{
        top: 90px;
        left: 22%;

    }

}

/* section 3 */
.features {
    position: relative;
    background-color: #f2f2fa;
}
.fon_features{
height: 1375px;
    width: 100%;
    position: relative;
    background-size: cover;
}
.fon_features:after {
    content: "";
    background-image: url('../img/axe_left.png');
    width: 180px;
    height: 180px;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
}
.features h2 {
    font-size: 48px;
    font-weight: 600;
    color: #141558;
    position: absolute;
    top:  170px;
    left: 36%;
}
.features span{
    color: #67bd06;
}
.wrap_features {
    position: absolute;
   z-index: 66;
    bottom: 390px;
}
.features_services{
    margin-left: 116px;
    margin-bottom: 30px;
    box-sizing: border-box;
    height: 305px;
    width: 305px;
    display: inline-block;
    vertical-align: middle;
}
.features_services:nth-child(4){
    margin-left: 294px;
}
.features_services h3{
    color: #fff;
    font-size: 29px;
    padding: 30px 0;
}
.features_services p{
    color: #fff;
    font-size: 17px;
}
.content{
    color: #fff;
    font-size: 18px;
    bottom: 125px;
    position: absolute;
    right: 70px;
    left: 70px;

}
@media screen and (min-width: 1024px) and (max-width: 1340px){
    .wrap_features{
        bottom: 368px;
    }
    .features_services{
        margin-left: 40px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1040px){
    .features h2{
        font-size: 40px;
        top: 90px;
    }
    .features_services{
        margin-left: 133px;
    }
    .wrap_features {
        bottom: 535px;
    }
    .features h2{
        left: 30%;
    }
    .features_services:nth-child(4){
        margin-left: 146px;
    }
    .features_services:nth-child(5){
        margin-left: 365px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .wrap_features{
        bottom: 130px;
    }
    .features h2 {
        font-size: 40px;
        top: 142px;
        left: 29%;
    }
    .features_services {
        margin-left: 25px;
    }
    .features_services:nth-child(4) {
        margin-left: 36px;
    }
    .features_services:nth-child(5){
        margin-left: 173px;
    }
    .wrap_features img{
        float: left;
        margin-right: 10px;
    }
    .features_services h3 {
        color: #fff;
        font-size: 24px;
    }
    .content {
        bottom: 60px;

    }
}
@media screen and (max-width: 768px){
    .fon_features {
        min-height: 1625px;
    }
    .features h2 {
        top: 66px;
        left: 28%;
        font-size: 40px;
    }
    .wrap_features {
        bottom: 220px;
    }
    .features_services {
        height: 250px;
        margin: 0;
    }
    .features_services:nth-child(4) {
        margin-left: 0;
    }
    .features_services:nth-child(5) {
        margin: 0;
    }
    .wrap_features img{
        float: left;
        margin-right: 10px;
    }
    .features_services h3 {
        font-size: 20px;
    }
    .features_services p {
        font-size: 16px;
    }
    .content {
        bottom: 20px;
    }
}
/* section 4 */
.payment{
    background-color: #f2f2fa;
    min-height: 390px;
}
.payment h2 {
    font-size: 48px;
    font-weight: 600;
    color: #141558;
    text-align: center;
    padding-top: 115px;
}
.payment span{
    color: #67bd06;
}
.payment_services{
    display: flex;
    margin: 87px auto;
    justify-content: center;
    flex-wrap: wrap;
}

.payment_services div{
    width: 145px;
    margin: 10px;
}
.payment_services img{

}
@media screen and (min-width: 1024px) and (max-width: 1340px){
    .payment_services div {
        width: 114px;
    }
    .payment_services img {
        width: 130px;
        height: 85px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .payment_services div {
        width: 178px;
    }
    .payment_services img {
        width: 120px;
        height: 75px;
    }
}


/* section 5 */
.contact_us {
    display: block;
    background: #fff;
}
.contact_us h2{
    font-size: 48px;
    font-weight: 600;
    color: #141558;
    text-align: center;
    margin: 95px 0;
}
.contact_us span{
    color: #67bd06;
}
.contact_services{
    width: 860px;
    height: 300px;
    margin: 0 auto;
    padding: 20px;

}
 textarea {
    width: 100%;
     max-height: 120px;
    padding: 12px;
    border: 1px solid #4b4b84;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
     color: #4b4b84;
}
.input, select{
    width: 400px;
    height: 60px;
    padding: 12px;
    border: 1px solid #4b4b84;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: #4b4b84;
}
.input{
    margin-left: 17px;
}
.contact_button {
    background: #ff5443;
    color: #fff;
    display: block;
    width: 250px;
    padding: 12px 0;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    margin: 20px auto;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
}
.contact_button:hover {
    background: #ff7366;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .contact_services {
        width: 690px;
    }
    .input, select {
        width: 320px;
    }
    .input {
        margin-left: 5px;
    }
}
@media screen and (max-width: 768px){
    .contact_us h2 {
        font-size: 40px;
        margin: 30px 0;
    }
    .contact_services {
        width: 300px;
        height: 380px;
    }
    .input, select {
        width: 257px;
    }
    .input {
        margin-left: 1px;
    }

}


/* footer*/
footer {
    left: 0;
    bottom: 0;
    padding: 10px;
    background: #fff;
    width: 100%;
    border-top: 1px solid #343468;
box-sizing: border-box;
}

.footer_menu {
    margin: 0;
    padding: 30px 100px;
    text-align: center;
}

.footer_menu ul {
    display: flex;

}

.footer_menu ul a {
    font-size: 14pt;
    line-height: 40px;
    text-decoration: none;
    padding-right: 30px;
    display: inline-block;
    color: #242563;
}

.footer_menu ul a:hover {
    color: #b7b7cc;
}
@media screen and (min-width: 1024px) and (max-width: 1340px){
    .footer_menu {
        margin: 0;
        padding: 30px 36px;
        text-align: inherit;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .footer_menu {
        margin: 0;
        padding: 30px 0;
        text-align: inherit;
    }

    .footer_menu ul {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .footer_menu li {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    footer {
        padding: 0px;
    }

    .footer_menu {
        margin: 0;
        padding: 30px 0;
        text-align: inherit;
    }


    .footer_menu ul {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .footer_menu ul a {
        font-size: 13pt;
    }

    .footer_menu li {
        width: 50%;
    }
}

.copyright {
    border-top: 1px solid #d6d6e1;
    margin: 0;
    padding: 40px 100px;
}

.copyright_item {
    display: inline-block;
    color: #a0a0b9;
    font-size: 15pt;
}

.social {
    display: inline-block;
    float: right;
}

.icons li {

    display: inline-block;
}

.icons li a {
    display: block;
    width: 24px;
    height: 24px;

    background: url(../img/iconf.png);
}

.icons li:hover a {
    background: url(../img/iconfh.png);
}

.icons li + li a {
    background: url(../img/iconi.png);
    margin-left: 30px;
}

.icons li + li:hover a {
    background: url(../img/iconih.png);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .copyright {
        padding: 40px 0px;
    }
}

@media screen and (max-width: 768px) {
    .copyright {
        display: flex;
        flex-direction: column-reverse;
        padding: 15px 0px;
    }

    .copyright_item {
        font-size: 12pt;
    }

    .icons li a {
        margin-bottom: 14px;
    }

    .icons li + li a {
        margin-bottom: 14px;
    }
}

/* page FAQ */

.faq_menu {
    margin: 0;
    border-top: 1px solid #f1f1f1;
    box-shadow: 0 0 40px rgba(0, 0, 0, .1) inset;

}

.faq_menu ul {
    display: flex;
    justify-content: center;
    position: relative;
}
.faq_menu li{
    padding: 30px 0;
}
.faq_menu ul a {
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    padding: 0 66px;
    display: inline-block;
    color: #8e8ea6;
    text-align: center;
    text-transform: uppercase;

}
.faq_menu li a:hover{
    color: #141558;

}
.faq_active {
    background: #fff;
    border-top: 4px solid #67bd06;
    box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
}
.faq_active a{
    color: #141558!important;

}
@media screen and (min-width: 1024px) and (max-width: 1148px){
    .faq_menu ul a {
        font-size: 17px;
    }
    .faq_menu li {
        padding: 25px 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .faq_menu li {
        padding: 13px 0;
    }
}

/*section 2*/
.faq_title {
    position: relative;
}
.faq_title img{
    width: 100%;

}
.faq_title h2{
    position: absolute;
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.faq_title span{
    color: #67bd06;
}

/*section 3 */
.faq{
    background: #f2f2fa;
}
.faq h3{
    font-size: 24px;
    color: #343468;
    border-bottom: 1px solid #9393b1;
    padding: 30px;
}
.faq_accordion{
    min-height: 220px;
    background: #fff;
    border-top: 4px solid #67bd06;
    box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.75);
    padding: 30px;
}
.faq_accordion p{
    font-size: 18px;
    color: #343468;

}