html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* start */
body {
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    height: 100%;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 690px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 300px;
    }
}

.top_menu {
    background: #fff;
    padding: 12px 0;
}

.navbar_logo_mob {
    display: none;
}

.nav {
    margin: 0;
    padding: 0;
    float: right;
}

.nav li {
    display: inline-block;
    font-size: 14pt;
    position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .nav li {
        display: inherit;
        font-size: 14pt;
        position: relative;
    }
}

@media screen and (max-width: 768px) {
    .nav li {
        display: inherit;

    }

    .navbar_logo {
        display: none;
    }

    .navbar_logo_mob {
        display: inherit;
    }
}

.nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #71719a;
    display: inline-block;
    position: relative;
    vertical-align: top;
    line-height: 71px;
    padding-right: 26px;
    padding-left: 4px;
    letter-spacing: 2px;
}

.nav a:hover {
    color: #b7b7cc;
}

.is_active a {
    color: #141558;
    font-weight: 600;
}

.is_active:before {
    top: calc(50% - 13px);
    position: absolute;
    content: '';
    height: 26px;
    left: calc(0em - 4px);
    border-right: 6px solid #67bd06;
}
/* end header*/
/* section 1 (слайдер)*/
#slider {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

#slides article {
    width: 20%;
    float: left;
}

#slides .image {
    width: 500%;
    line-height: 0;
    z-index: 2;
}


#overflow {
    width: 100%;
    overflow: hidden;
    position: relative;
}

article img {
    width: 100%;
}

#desktop:checked ~ #slider {
    max-width: 1900px;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    #desktop:checked ~ #slider {
        max-width: 900px;
    }
}

#switch1:checked ~ #controls label:nth-child(3),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2) {
    background: url("../img/arrowl.png") no-repeat;
    float: right;
    display: block;
    height: 35px;
    width: 35px;
}
#switch2:checked ~ #controls label:nth-child(1){
    background: url('../img/arrowr.png') no-repeat;
}

#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(1) {
    background: url('../img/arrowr.png') no-repeat;
    float: right;
    display: block;
    height: 35px;
    width: 35px;
    margin-left: 54px;
}
#switch2:checked ~ #controls label:nth-child(3){
    background: url("../img/arrowl.png") no-repeat;
    margin-right: 54px;
}

label, a {
    cursor: pointer;
}

.wrap input {
    display: none;
}

#switch1:checked ~ #slides .image {
    margin-left: 0;
}

#switch2:checked ~ #slides .image {
    margin-left: -100%;
}

#switch3:checked ~ #slides .image {
    margin-left: -200%;
}


#controls {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 19px;
    right: 211px;
    z-index: 45;
}

#active label {
    border-radius: 10px;
    display: none;
    width: 15px;
    height: 15px;
    background: #bbb;
}

#active {
    margin: 23 % 0 0;
    text-align: center;
}

#active label:hover {
    background: #76c8ff;
    border-color: #777 !important;
}


#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5) {
    background: #18a3dd;
    border-color: #18a3dd !important;
}

#slides .image {
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover {
    opacity: 0.6;
}

#controls label {
    transition: opacity 0.2s ease-out;
}
.switches{
    position: absolute;
    display: inline-block;
    bottom: 35px;
    right: 253px;
    z-index: 45;
}

.switches li {
    display: inline-block;
    margin-right: 11px;
}
.switches li a{
    display: block;
    width: 4px;
    height: 15px;
    background: #fff;
    margin-top: 457px;
}
.active_switch {
    background: #67bd06;
    height: 30px;
    display: block;
}
/* градиент на слайдере*/
.gradient{
    background-image: linear-gradient(90deg, #336 45%, rgba(0,0,0,0), #336 98%);
    position: absolute;
    z-index: 30;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;

}


/* надпись на слайдере*/
.title{
    color: #fff;
    position: absolute;
    top: 100px;
    left: 300px;
    z-index: 55;
}
.big_title{
    font-size: 80px!important;
}
.title p{
    font-size: 24px;
    text-align: initial;
}
.title_color{
    font-size: 80px!important;
    color: #67bd06;
    padding-bottom: 40px;
}
.button{
    background: #67bd06;
    color: #fff;
    display: block;
    width: 250px;
    padding: 15px 0;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 600;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .title{
        top: 115px;
        left: 100px;
    }
    .big_title{
        font-size: 60px!important;
    }
    .title p{
        font-size: 20px;
    }

}
@media screen and (min-width: 768px) and (max-width: 1024px){


}
/* section 2 */

.services img{

    width: 100%;
    height: 100%;
    display: block;
}
.services h2{
    font-size: 48px;
    font-weight: 600;
    color: #141558;
    position: absolute;
    bottom: -120px;
    left: 40%;
}
.services span{
    color: #67bd06;
}
/* footer*/
footer {
    left: 0;
    bottom: 0;
    padding: 10px;
    background: #fff;
    width: 100%;
    border-top: 1px solid #343468;

}

.footer_menu {
    margin: 0;
    padding: 30px 100px;
    text-align: center;
}

.footer_menu ul {
    display: flex;
}

.footer_menu ul a {
    font-size: 14pt;
    line-height: 40px;
    text-decoration: none;
    padding-right: 30px;
    display: inline-block;
    color: #242563;
}

.footer_menu ul a:hover {
    color: #b7b7cc;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .footer_menu {
        margin: 0;
        padding: 30px 0;
        text-align: inherit;
    }

    .footer_menu ul {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .footer_menu li {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    footer {
        padding: 0px;
    }

    .footer_menu {
        margin: 0;
        padding: 30px 0;
        text-align: inherit;
    }


    .footer_menu ul {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .footer_menu ul a {
        font-size: 13pt;
    }

    .footer_menu li {
        width: 50%;
    }
}

.copyright {
    border-top: 1px solid #d6d6e1;
    margin: 0;
    padding: 40px 100px;
}

.copyright_item {
    display: inline-block;
    color: #a0a0b9;
    font-size: 15pt;
}

.social {
    display: inline-block;
    float: right;
}

.icons li {

    display: inline-block;
}

.icons li a {
    display: block;
    width: 24px;
    height: 24px;

    background: url(../img/iconf.png);
}

.icons li:hover a {
    background: url(../img/iconfh.png);
}

.icons li + li a {
    background: url(../img/iconi.png);
    margin-left: 30px;
}

.icons li + li:hover a {
    background: url(../img/iconih.png);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .copyright {
        padding: 40px 0px;
    }
}

@media screen and (max-width: 768px) {
    .copyright {
        display: flex;
        flex-direction: column-reverse;
        padding: 15px 0px;
    }

    .copyright_item {
        font-size: 12pt;
    }

    .icons li a {
        margin-bottom: 14px;
    }

    .icons li + li a {
        margin-bottom: 14px;
    }
}



